<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蓦然轻叹 - 注册  !!(╯' - ')╯︵ ┻━━━┻  </title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/regist.css">
</head>
<body>
    <canvas></canvas>
    <div id="login-form">
        <div class="title-line">
            <span class="tit">
                注册
            </span>
        </div>
        <form action="/regist" method="post">
            <ul class="regist">
                <li>
                    <input type="text" placeholder="用户名" id="input-box-username" name="username">
                    <p id="tip-username" hidden></p>
                </li>
                <li>
                    <input type="password" placeholder="密码" id="input-box-password" name="password">
                    <p id="tip-password" hidden></p>
                </li>
                <li>
                    <input type="password" placeholder="确认密码" id="input-box-password-confirm" name="password-confirm">
                    <p id="tip-password-confirm" hidden></p>
                </li>
                <li>
                    <input type="text" placeholder="邮箱" id="input-box-email" name="email" value="{{ email }}">
                </li>
                 <!--<li id="portrait">
                     头像:
                     <input type="file" name="portrait">

                </li>-->
                <li>
                    <input type="submit" id="regist-btn" value="注册" name="login">
                </li>
                <li>
                    <a id="back-index" href="/">返回主页</a>
                </li>
            </ul>

        </form>
    </div>
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script>
        // $('#tip-username').hide();
        //文档就绪函数
        $(function () {
            var bSubmit = false;
            // 为 #username 绑定焦点离开事件
            $('#input-box-username').on('blur', function () {
                if(this.value == ""){
                    $('#tip-username').html('用户名不能为空');
                    $('#tip-username').show();
                    bSubmit = true;
                }else{
                    $('#tip-username').hide();
                    $('#tip-username').html('');
                    // url, data, callback, dataType
                    $.get('/check_name', {uname: this.value}, function (res) {
                        if(res == 'success'){
                            // $('#tip-username').html('');
                            // $('#tip-username').show();
                            bSubmit = false;
                        }else {
                            $('#tip-username').html('这个名称有人用过了, 换一个吧');
                            $('#tip-username').show();
                            bSubmit = true;
                        }
                    }, 'text' );
                    /*bSubmit = true;*/
                }
            });
            $('#input-box-password').on('blur', function () {
                var password = $('#input-box-password').val();
                if (password.length < 6){
                    $('#tip-password').html('密码太短了');
                    $('#tip-password').show();
                }else{
                    $('#tip-password').hide();
                    $('#tip-password').html('');
                }
            });
            $('#input-box-password-confirm').on('blur', function () {
                var password = $('#input-box-password').val(); //获取密码框的值
                var confirmPass = this.value;
                if(password != confirmPass){
                    $('#tip-password-confirm').html('两次密码不一致！');
                    $('#tip-password-confirm').show();
                    bSubmit = true;
                }else {
                    $('#tip-password-confirm').hide();
                    $('#tip-password-confirm').html('');
                    bSubmit = false;
                }
            });
            $('#regist-btn').on('click', function () {

                if (bSubmit) {
                    alert('请填写完整，正确的信息');
                    return false;
                }else {
                    return true;
                }


            });
            var error = '{{ error }}';
            if(error){
                alert( error )
            }
            $('#regist').on()
        });
    </script>
    <script>
        $(function(){
            var canvas = document.querySelector('canvas'),
                ctx = canvas.getContext('2d');
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            ctx.lineWidth = .3;
            ctx.strokeStyle = (new Color(150)).style;

            var mousePosition = {
                x: 30 * canvas.width / 100,
                y: 30 * canvas.height / 100
            };

            var dots = {
                nb: 250,
                distance: 100,
                d_radius: 150,
                array: []
            };

            function colorValue(min) {
                return Math.floor(Math.random() * 255 + min);
            }

            function createColorStyle(r,g,b) {
                return 'rgba(' + r + ',' + g + ',' + b + ', 0.8)';
            }

            function mixComponents(comp1, weight1, comp2, weight2) {
                return (comp1 * weight1 + comp2 * weight2) / (weight1 + weight2);
            }

            function averageColorStyles(dot1, dot2) {
                var color1 = dot1.color,
                    color2 = dot2.color;

                var r = mixComponents(color1.r, dot1.radius, color2.r, dot2.radius),
                    g = mixComponents(color1.g, dot1.radius, color2.g, dot2.radius),
                    b = mixComponents(color1.b, dot1.radius, color2.b, dot2.radius);
                return createColorStyle(Math.floor(r), Math.floor(g), Math.floor(b));
            }

            function Color(min) {
                min = min || 0;
                this.r = colorValue(min);
                this.g = colorValue(min);
                this.b = colorValue(min);
                this.style = createColorStyle(this.r, this.g, this.b);
            }

            function Dot(){
                this.x = Math.random() * canvas.width;
                this.y = Math.random() * canvas.height;

                this.vx = -.5 + Math.random();
                this.vy = -.5 + Math.random();

                this.radius = Math.random() * 2;

                this.color = new Color();
                console.log(this);
            }

            Dot.prototype = {
                draw: function(){
                    ctx.beginPath();
                    ctx.fillStyle = this.color.style;
                    ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
                    ctx.fill();
                }
            };

            function createDots(){
                for(i = 0; i < dots.nb; i++){
                    dots.array.push(new Dot());
                }
            }

            function moveDots() {
                for(i = 0; i < dots.nb; i++){
                    var dot = dots.array[i];

                    if(dot.y < 0 || dot.y > canvas.height){
                        dot.vx = dot.vx;
                        dot.vy = - dot.vy;
                    }
                    else if(dot.x < 0 || dot.x > canvas.width){
                        dot.vx = - dot.vx;
                        dot.vy = dot.vy;
                    }
                    dot.x += dot.vx;
                    dot.y += dot.vy;
                }
            }

            function connectDots() {
                for(i = 0; i < dots.nb; i++){
                    for(j = 0; j < dots.nb; j++){
                        i_dot = dots.array[i];
                        j_dot = dots.array[j];

                        if((i_dot.x - j_dot.x) < dots.distance && (i_dot.y - j_dot.y) < dots.distance && (i_dot.x - j_dot.x) > - dots.distance && (i_dot.y - j_dot.y) > - dots.distance){
                            if((i_dot.x - mousePosition.x) < dots.d_radius && (i_dot.y - mousePosition.y) < dots.d_radius && (i_dot.x - mousePosition.x) > - dots.d_radius && (i_dot.y - mousePosition.y) > - dots.d_radius){
                                ctx.beginPath();
                                ctx.strokeStyle = averageColorStyles(i_dot, j_dot);
                                ctx.moveTo(i_dot.x, i_dot.y);
                                ctx.lineTo(j_dot.x, j_dot.y);
                                ctx.stroke();
                                ctx.closePath();
                            }
                        }
                    }
                }
            }

            function drawDots() {
                for(i = 0; i < dots.nb; i++){
                    var dot = dots.array[i];
                    dot.draw();
                }
            }

            function animateDots() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                moveDots();
                connectDots();
                drawDots();
                requestAnimationFrame(animateDots);
            }

            $('#canvas').on('mousemove', function(e){
                mousePosition.x = e.pageX;
                mousePosition.y = e.pageY;
            });

            $('#canvas').on('mouseleave', function(e){
                mousePosition.x = canvas.width / 2;
                mousePosition.y = canvas.height / 2;
            });

            createDots();
            requestAnimationFrame(animateDots);
        });
    </script>
</body>
</html>